/* 경로 : sbb/src/main/resources/static/style.css */

textarea{
	width: 100%;
	height: 8.25em;
	border-width:1;
	border-color:#808080;
	border-radius: 10px;
	resize:none;
}

a{
	color : grey;
	text-decoration: none;
}