<!DOCTYPE html> 
<!--<html>-->
<html layout:decorate="~{layout}"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> 
    <title>6코스 경로</title> 
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=z259xu45mt"></script> 
</head> 
<body>
<div layout:fragment="content" class="container my-5">
<!--<div id="map" style="width:100%;height:400px;"></div> 

<script> 
var mapOptions = { 
    center: new naver.maps.LatLng(37.3595704, 127.105399), 
    zoom: 11 
}; 

var map = new naver.maps.Map('map', mapOptions); -->

    
<div id="map" style="width:100%;height:400px;"></div>



<script id="data">
// 경로로 표시할 배열(array)
// naver.maps.LatLng 위도 경도 변수
var polylinePath = [
	//시작지점
    
    //도착지점    
];
</script>

<script id="code">
    //지도 표시
    var map = new naver.maps.Map('map', {
        zoom: 12,
        center: new naver.maps.LatLng(37.657391, 127.065501)
    });

    //위의 배열을 이용해 라인 그리기
    var polyline = new naver.maps.Polyline({
        path: polylinePath,      //선 위치 변수배열
        strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
        strokeOpacity: 0.8, //선 투명도 0 ~ 1
        strokeWeight: 6,   //선 두께
        map: map           //오버레이할 지도
    });
	
	
	// 시작지점 마커
	 var marker = new naver.maps.Marker({
        position: polylinePath[0], //마크 표시할 위치 배열의 마지막 위치
        map: map
    });
	
    // 도착지점 마커
    var marker = new naver.maps.Marker({
        position: polylinePath[polylinePath.length-1], //마크 표시할 위치 배열의 마지막 위치
        map: map
    });
    
</script>
</div> 
</body> 
</html>
