<!DOCTYPE html>
<html layout:decorate="~{layout}"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seoul Walk</title>
    
  
    
</head>
<body>
<div layout:fragment="content" class="container my-5">
    <div class="background" th:style="'background-image:url('+ @{/img/background02.jpg} +');'">
		
		
		<div class="introduceTitle">
			&nbsp;&nbsp;그밖의 길
		</div><br><br>
		
		<form method="get">
		<!--<form method="get" action="form-action">-->	
			<div class="mainPage02">
		    	<div class="form-group col-sm-5">
		          <label for="addressKindU">지역 선택</label>
		          <select class="form-control" id="addressKindU" name="addressKindU" onchange="addressKindChange(this)">
		            <option>강북권/강남권 선택</option>
		            <option value="a">강남</option>
		            <option value="b">강북</option>
		          </select>
		        </div>
		        
		        <div class="form-group col-sm-4">
		          <label for="addressKindD"></label>
		          <select class="form-control" id="addressKindD" name="addressKindD">
		            <option>선택해주세요.</option>
		          </select>
		        </div>
        	</div>
        <br>
        
       	  
	      
	      <div class="alignment">거리</div>
	      <div class="mainPage03">
	      <label><input type="radio" name="distance" value="5under"> 5km 미만</label>&nbsp;&nbsp;&nbsp;
	      <label><input type="radio" name="distance" value="5between10"> 5~10km</label>&nbsp;&nbsp;&nbsp;
	      <label><input type="radio" name="distance" value="10over"> 10km 초과</label>
	      </div> 
		  <br>
	      
	      <div class="alignment">소요시간</div>
	      <div class="mainPage03">
	      <label><input type="radio" name="duration" value="2under"> 2시간 미만</label>&nbsp;&nbsp;&nbsp;
	      <label><input type="radio" name="duration" value="2between4"> 2~4시간</label>&nbsp;&nbsp;&nbsp;
	      <label><input type="radio" name="duration" value="4over"> 4시간 초과</label>
	      </div>
	      
	      <br>
	      <div class="alignment">난이도</div>
	      <div class="mainPage03">
	      <label><input type="radio" name="difficulty" value="easy"> 초급</label>&nbsp;&nbsp;&nbsp;
	      <label><input type="radio" name="difficulty" value="normal"> 중급</label>&nbsp;&nbsp;&nbsp;
	      <label><input type="radio" name="difficulty" value="hard"> 고급</label>
	      </div>
	      <br><br><br>
	      <div class="mainPage02">
	      <input class="button" type="submit" value="검색">&nbsp;&nbsp;<input class="button" type="reset" value="초기화">
	      </div>
	     
	    </form>
	
	

	</div> 
	   
<script language="JavaScript">
	function addressKindChange(e) {
    var gangbuk = ["노원구", "도봉구", "강북구", "광진구", "동대문구", "마포구", "서대문구", "성동구", "성북구", "용산구", "은평구", "종로구", "중구", "중랑구"];
    var gangnam = ["강남구", "강동구", "강서구", "관악구", "구로구", "금천구", "동작구", "서초구", "송파구", "양천구", "영등포구"];
    var target = document.getElementById("addressKindD");

    if(e.value == "a") var d = gangbuk;
    else if(e.value == "b") var d = gangnam;


    target.options.length = 0;

    for (x in d) {
        var opt = document.createElement("option");
        opt.value = d[x];
        opt.innerHTML = d[x];
        target.appendChild(opt);
    }   
}





</script>







</div>








</body>
</html>