<html layout:decorate="~{layout}">
<div layout:fragment="content" class="rcmcontainer" style="border: 1px solid #bcbcbc;">

	<div class="card m-2" style="width:18rem;">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">커플코스</h5>
			<p class="card-text">커플 코스입니다</p>
		</div>
	</div>
	
	<div class="card m-2" style="width:18rem;">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">부부코스</h5>
			<p class="card-text">부부 코스입니다</p>
		</div>
	</div>
	
	<div class="card m-2" style="width:18rem;">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">맛집코스</h5>
			<p class="card-text">맛집 코스입니다</p>
		</div>
	</div>
	
</div>
</html>